***REMOVED***
***REMOVED***
    "API-Key": "",
    "OrgID": "",
    "NetworkID":"",
    "Camera-Serial":""
***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

***REMOVED***
    "API_Key":""
***REMOVED***